#signUpContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#formSection {
    width: 40%;

}

#imgSection {
    width: 60%;
}


.formContainer {
    width: 350px;
    padding: 20px 30px 20px 20px;
    box-shadow: 0px 1px 6px rgb(177, 177, 177);
    border-radius: 10px;
}

div>input {
    width: 100%;
    font-size: 18px;
}


select {
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
}

select:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.inputContainer {
    margin-bottom: 30px;
}

.signUpBtn {
    background-color: rgb(58, 36, 74);
    color: white;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
}

.formHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input {
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.otpPopup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.392);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loadingPopup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.392);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px 20px 20px;
}

.popupBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.popupBtn:hover {
    background-color: #0056b3;
}

.otpPopupInput {
    border: 1px solid black;
    padding: 8px;
}

.otpPopupInput:focus {
    border: 1px solid black;

}

.redText {
    color: red;
    margin-bottom: 30px !important;

}

.simpleBtn {
    background-color: white;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.loadingPopup {
    text-align: center;
}